
body {

    /* margin: 0; */
}

.container {
    height: 100vh;
}

.btn {
    margin-right: 5px;
}

/* these are named opposite, need to adjust code */

.resize-handle-horizontal {
    width: 5px;
    height: 100%;
    background-color: lightgray;
}

.resize-handle-vertical {
    width: 100%;
    height: 5px;
    background-color: lightgray;
}

.resize-handle-horizontal:hover,.resize-handle-vertical:hover {
    background-color: gray;
}

